@model List<BusinessManagementSystem.Models.PurchaseDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .right-container {
        /*border: 5px solid #C71585;*/
        float: left;
        width: 57.65%;
        margin: 10px 5px;
    }
</style>
<div class="container-box">
    <div class="right-container">
        <form method="POST" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">Product</label>               
                <div class="col-sm-10">
                    <select name="ProductId" class="form-control" id="ProductId"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                    <input name="StarDate" type="date" class="form-control" placeholder="Start Date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <input name="EndDate" type="date" class="form-control" placeholder="End Date">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>
        <br />
        <p style="font-weight: bold; font-size: 25px;">Purchase Report</p>
        <br />
    </div>
    @if (Model != null && Model.Count > 0)
    {

        <div>
            @{ var sl = 0; }
            <table class="table table-bordered table-striped">
                <thead>
                    <tr style="background-color: goldenrod; color: white; font-weight: bold">
                        <th>Sl</th>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Purchase Date</th>
                        <th>Product Quantity</th>
                        <th>Product Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@(++sl)</td>
                            <td>@product.Product.Code</td>
                            <td>@product.Product.Name</td>
                            <td>@product.Purchase.Date</td>
                            <td>@product.Quantity</td>
                            <td>@product.UnitPrice</td>
                            <td>@(product.UnitPrice * product.Quantity)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">

        var subdirectory = "../../";

        $(document).ready(function () {
            var url = subdirectory + "Products/GetAllProduct";

            $.post(url, function (rData) {
                if (rData != undefined) {
                    $("#ProductId").empty();
                    $("#ProductId").append("<option value=''>---Select---</option>");
                    $.each(rData, function (k, v) {
                        var option = "<option value=" + v.Id + ">" + v.Name + "</option>";
                        $("#ProductId").append(option);

                    });
                }
            });


        });
    </script>
</div>


